<% provide(:title, 'RSVP') %>
<h2>RSVP</h2>

<div>
  <%= form_for @rsvp, url: {action: "create"}, html: {class: "rsvp_form"} do |f| %>
  <%= render 'shared/error_messages' %>

  <div class="input_group">
  <%= f.label :email %>
  <%= f.text_field :email %>
  </div>

  <div id="guests">
    <ul>
      <%= f.fields_for :guests do |guest_form| %>
      <li>
	<%= guest_form.check_box :_destroy %>
	<%= guest_form.label :name %>
	<%= guest_form.text_field :name %>

	<%= guest_form.label :adult, "Is this guest over 21?" %>
	<%= guest_form.check_box :adult %>
      </li>
      <% end %>
    </ul>
  </div>

  <div id="add_guest_link">
    <%= add_guest_link "Add a guest" %>
  </div>
    
  
  <%= f.submit "Submit RSVP" %>
  <% end %>
</div>

