<% provide(:title, 'RSVP') %>
<h2>RSVP</h2>

<div>
  <%= form_for @rsvp, url: {action: "create"}, html: {class: "rsvp_form"} do |f| %>
  <%= render 'shared/error_messages' %>

  <div class="input_group">
  <%= f.label :email %>
  <%= f.text_field :email %>
  </div>

  <div id="guests">
    <%= render partial: 'guest', collection: @rsvp.guests %>
  </div>

  <div id="add_guest_link">
    <%= add_guest_link "Add a guest" %>
  </div>
    
  
  <%= f.submit "Submit RSVP" %>
  <% end %>
</div>

