<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Jon and Kaitlyn</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1>Jon & Kaitlyn, August 5th, 2017</h1>
      <nav>
	<ul>
	  <li id='home_link'><%= link_to 'Jon & Kaitlyn', root_path %></li>
	  <li><%= link_to 'RSVP', new_rsvp_path %></li>
	  <li><%= link_to 'Registry', registries_path %></li>
	  <li><%= link_to 'Photos', photos_path %></li>
	  <li><%= link_to 'FAQ', faqs_path %></li>
	</ul>
      </nav>
      
    </header>
    
    <%= yield %>

    <footer>
      <small>&copy; Jon Richmond</small>
    </footer>
    <%= debug(params) if Rails.env.development? %>
  </body>
</html>
